*{
    margin: 0;
    padding: 0;
}
body {

    background-color:silver;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 20px;
}
h1{
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

#logo {
    padding-left: 20px;
}

.btn-group {
    padding-right: 20px;
}

.btn-group a {
    text-decoration: none;
    color: rgb(247, 242, 242);
    color: black;
}

.container{
    width: 90%;
    margin: 0;
    display: flex;
}

.slider{
    width: 100%;
}
#mainCaption{
    height: 500px;
    background: rgb(0, 0, 0,.3);
    background-image: url('img/background.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.section1Body.container{
    justify-content: space-between; /*içerikler arasındakibosuğun olmamasını istiyoruz.*/
}
.col3{
flex-grow: 1; /*sütun uzunlukları bırbırıne esit olsun*/
width: 20%;
}
.sectionHeader{
    background: rgb(32, 32, 44);
    border-bottom: 6px solid black;
    height: 60px;
    color: white;
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;

}
.sectionArea{
    padding: 80px 0px;
}
.section1Top{
    text-align: center;
}
.zoom{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.zoom img{
display: block; /*iteme inline block deyip buna block dedik çünkü zoom özelliğini de kapsasın istiyoruz*/
width: 100%;
height: auto;
transition: all .5s ease;

}


.item .itemText{
text-align: center;
padding: 5px;
border:1px solid black;
}
.item:hover .zoom img{
  transform: scale(1.25);  
}
h3{
    font-size: 16px;
    color:black;
    transition: all .5s ease;
  
}
.item:hover h3{
    color: rgb(247, 242, 242);
    color: black;
}
.item:hover .itemText{
    background: slategrey;
    color: springgreen;
    transition: all .5s ease; 
}
.btnDetails{
    color: violet;
    padding: 5px 10px;
    text-decoration: none;
    border:1px solid springgreen;
    transition: all .5s ease;
}
.item:hover .btnDetails{
    color:rgb(25, 23, 29);
    border: 1px solid fuchsia;
}

.itemText p{
    margin: 20px 0;
}


.section3Body .container{
    justify-content: space-between;

}
.col2{
   background-color: rgb(38, 36, 41);
    width: 50%;
    padding: 20px;

}
.section3Top{
    text-align: center;

}

.imageContainer{
    position: relative;
    width: 100%;
}
.imageOver{
    display: block;
    width: 100%;
    height: auto;
}
.imageOverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80, 13, 22, rgb(0,0,0,.7));
width: 0;
height: 100%;
    overflow: hidden;
    transition: .5s ease;
}

.imageContainer:hover .imageOverlay{
    width: 100%;

}
.imageText{
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.imageOverlay2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80, 13, 22, rgb(0,0,0,.7));
width: 0;
height: 100%;
    overflow: hidden;
    transition: .5s ease;
}
.imageContainer:hover .imageOverlay2{
    width: 100%;
    left: 0;
}

footer{
    background-color: rgb(42, 53, 58);
    text-align: center;

}
.footerItem{
    padding: 20px;
}
footer .h3{
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.boyut{
    height: 508;
    width: 330;
}